<!DOCTYPE html>

<html>
   <h1>Create User</h1>
   <br>
   <h3> Username:</h3> 
   <form>
      <input type="text" id="username" name="username">
   <h3> Balance: </h3>
      <input type="text" id="balance" name="balance">
   <h3> Name: </h3>
<input type="text" id="name" name="name">
<br>
<br>
<button> Create</button>
</form>
   
</html>

