<!DOCTYPE html>

<html>
    <head>
        <%= stylesheet_link_tag "welcome" %>
    </head>

    <body>
        <h1>The quick brown fox jumped over the lazy dog.</h1>
        <p>Lorem ipsum dolor sit amet</p>
        
        <style>
            body {
                background-image: url(<%= asset_path "calm.png" %>);
            }
        </style>
          <p>
          <form>
            <label for="fname">search</label>
            <input type="text" id="fname" name="search" placeholder="search">
          <form>
        </p>
        <p>
        <button type="testButton" onclick="testFunction()">Click Me!</button>
          <script>
            function testFunction() {
                alert("You clicked the button");
              
            }
            
            

        </script>
        
        <p>
        <a class="info" href="/Desktop/black-market-pizza/app/views/pages/login.html.erb">login</a>
        </p>
    </body>
</html>
