<!DOCTYPE html>

<html>
    <head>
        <%= stylesheet_link_tag "welcome" %>
    </head>

    <body>
        <h1>The quick brown fox jumped over the lazy dog.</h1>
        <p>Lorem ipsum dolor sit amet</p>
        <style>
            body {
                background-image: url(<%= asset_path "calm.png" %>);
            }
        </style>


    </body>
</html>
