<!DOCTYPE html>

<html>
    <head>
        <style>

        
            table{
                border-collapse: collapse;
                border: 1px solid black;  
                font-family: relative;
                position: absolute;
                margin: auto;
                top: 50%;
                left: 50%;
                background-color: white;
                color: black;
                padding: 20px;
                transform: translate(-50%, -50%);
                
            }
            
            table.a {
                table-layout: fixed;
                width: 100%;  
            }
            
            th,td {
                border: 1px solid black;
            }
       
            .title-box{
                font-family: relative;
                position: absolute;
                margin: auto;
                top: 10%;
                left: 50%;
                font-size: 150%;
                font-weight: bold;
                background-color: black;
                color: white;
                padding: 20px;
                transform: translate(-50%, -50%);
            
            }    
            
            button.checkoutButton{
                position: absolute;
                margin: auto;
                top: 80%;
                left: 50%;
                font-size: 150%;
                font-weight: bold;
                background-color: gold;
                color: black;
                padding: 10px;
                transform: translate(-50%, -50%);
            }
            
        </style>
    </head>

    <body>
        <style>
            body {
                background-color: brown;     
            }
        </style>
           <div class = "title-box">
                <p>The Black Olive</p>
           </div>
           <table class = "a">
           <tr>
            <th></th>
            <th>price</th>
            <th>title</th>
            <th>pic</th>
           </tr>
           <tr>
            <td>          
            <button type="purchaseButton" onclick="purchaseFunction()">purchase</button>

            <script>
                function purchaseFunction() {
                    alert("checkout has not been implemented yet");
                }
            </script>
            </td>
            <td>$10.00</td>
            <td>cheese</td>
            <td>
            pic
            </td>
           </tr> 
           <tr>
            <td>          
            <button type="purchaseButton" onclick="purchaseFunction()">purchase</button>

            <script>
                function purchaseFunction() {
                    alert("checkout has not been implemented yet");
                }
            </script>
            </td>
            <td>$11.00</td>
            <td>pepperoni</td>
            <td>pic</td>
           </tr>  
           <tr>
            <td>          
            <button type="purchaseButton" onclick="purchaseFunction()">purchase</button>

            <script>
                function purchaseFunction() {
                    alert("checkout has not been implemented yet");
                }
            </script>
            </td>
            <td>$8.00</td>
            <td>bread sticks</td>
            <td>pic</td>
           </tr>
           </table>  
           
           <button class = "checkoutButton" type="checkoutButton" onclick="checkoutFunction()">checkout</button>
              <script>
                function checkoutFunction() {
                    alert("congratulations");
                }
            </script>
            
    </body>
</html>
